body{
	color:rgb(0, 0, 0);
	font-size:100pt;
}
.section1{
	background-color:#11181e;
	width:15%;
	float:left;
	height:100vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}
.section2{
	background-color:#f1c40f;
	width:85%;
	float:left;
	height:100vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}